// MenuCreator.js
.create-menu
    padding: 5%
    display: flex
    justify-content: center

.create-menu-button
    margin: 3%

.create-menu-input
    font-size: 200%

// ItemCreator.js
.item-input-box
    display: flex
    justify-content: center
    flex-direction: column
    margin: 20px

.add-item-form
    display: flex
    flex-direction: column
    justify-content: center
    padding-left: 24%
    padding-right: 24%

.add-item-button
    margin: 3% auto

.required-span
    color: red

// MenuShowcase.js 
.menu-showcase
    display: flex
    flex-direction: row-reverse
    flex-wrap: wrap
    justify-content: center

.menu-order-showcase
    display: flex
    flex-direction: column


.menu-item-box
    border: black 2px solid
    max-width: 30%
    padding: 30px
    width: 200px
    margin: 10px auto

.menu-order-box
    display: flex
    flex-direction: row
    border: #125999 2px solid
    width: 80%
    padding: 10px
    margin: 10px auto
    justify-content: center
    align-items: center
    align-content: space-around

.menu-order-box-1
    width: 23%
    padding: 4px
    border-right: #125999 1px solid

.menu-order-box-2
    width: 13%
    text-align: right

.loading 
    margin: 0 auto
    color: #766B7B
    font-size: 40%
    padding: 40px
    width: 13%
    background-color: #cdcdcd

.image
    width: 100%

.check-info
    border: 2px solid #bb1535
    width: 30%
    padding: 10px
    padding-bottom: 20px
    
.centerOrder
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    align-content: space-around

.menu-order-box-2 button
    background-color: #125999
    border: none
    border-radius: 8px
    color: white
    padding: 15px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px

.check-info button
    background-color: #bb1535
    border: none
    border-radius: 8px
    color: white
    padding: 15px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px
