.create-menu
    padding: 5%
    display: flex
    justify-content: center

.create-menu-button
    margin: 3%

.create-menu-input
    font-size: 200%

.item-input-box
    display: flex
    justify-content: center
    flex-direction: column

.add-item-form
    display: flex
    flex-direction: column
    justify-content: center
    padding-left: 24%
    padding-right: 24%

.add-item-button
    margin: 3%