.image
    max-width: 400px
    border: black solid 2px
    border-radius: 8px

.business-header
    margin: 0 auto

.info
    background-color: white
    color: black
    width: 100%
.info h2
    border-bottom: 4px solid #32ade1
    padding-bottom: 15px

.hours
    border: solid 2px black

.b-h-view
    display: flex
    flex-direction: column
