.business-header
    padding: 0% 10% 10% 10%

.business-rating
    border-bottom: 2px grey dashed

.b-view
    display: flex
    flex-direction: column

.buttonA
    margin-top: 1%
    width: 200px
    background-color: #32ade1
    border-radius: 8px
    font-weight: bold
    color: #fcfbf9
    padding: .5% 0 .5% 0
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;


.ownerButtonsContainer
    display: flex
    flex-direction: column
    max-width: 200px
    align-items: flex-end
    margin-top: 3%
    
.updateButton
    color: white
    background-color: #125999
    padding: 11px 10px
    border-radius: 10px

.checkoutbox
    border-radius: 8px
    width: 60%
    padding: 10px
    margin-bottom: 15px
    border: 2px solid #bb1535

.reviewbox
    width: 80%
    border-radius: 8px
    padding: 10px
    border: 2px solid #125999

.centerOrder
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 30px

.checkoutbox button
    background-color: #bb1535
    border: none
    border-radius: 8px
    color: white
    padding: 15px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px