.business-header
    padding: 10%

.business-rating
    border-bottom: 2px grey dashed
<<<<<<< HEAD

.b-view
    display: flex
    flex-direction: column
=======
    

.buttonA
    width: 200px
    
>>>>>>> a42201a3d92235400c54e1ff580e9e1155e5bd3f
