// font-family: 'Work Sans', sans-serif;
// font-family: 'Lato', sans-serif;

.b-h-view {
	display: flex;
	flex-wrap: wrap;
	.business-image {
		// align-items: center;
		// width: 40%;
		// height: 20%;
		// font-weight: bolder;
		.temp-image {
			justify-content: center;
		}
	}
	.info {
		margin: auto;
		width: 40%;
		height: 20%;
		.heading {
			// margin: 0.25rem;
			margin-bottom: 0;
			font-weight: bold;
			font-family: 'Work Sans';
			font-size: 30px;
			text-align: justify;
			padding: 2.25rem;
		}
		.business-data {
			text-align: justify;
			padding: 2.25rem;
			justify-content: center;
			list-style: none;
			font-family: 'Lato';
			font-size: 22px;
			li {
				padding: 5px;
			}
			font-weight: italic;
		}
	}
}
