.image
    max-width: 400px
    border: black solid 2px

.business-header
    display: flex
    margin: 0 auto

.info
    margin: 5%
    background-color: white
    color: black
    width: 404px

.hours
    border: solid 2px black

.loading
    width: 36%