.NavTitle
  font-size: 20px
  font-size: 3.0vw

.Navigation
  background: lightgreen
  height: 60px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  font-size: 15px
  font-size: 2.5vw
  color: white

.Link
  padding: 15px

@media screen and (max-width: 500px) 
  .NavTitle
    width: 100%
    display: block
    text-align: center
    padding: 10px 0
    font-size: 6vw
    border-bottom: 1px solid gray

  .Navigation
    height: 95%
    width: 100%
    flex-direction: column
    margin: 0
    padding: 0

  .Link
    width: 100%
    display: block
    text-align: center
    padding: 10px 0
    font-size: 6vw
    border-bottom: 1px solid gray
    


