.NavTitle
  font-size: 20px
  font-size: 3.0vw

.Navigation
  height: 60px
  display: flex
  flex-direction: row
  justify-content: space-between
  margin: 0 3.5% 0 1.5%
  font-size: 15px
  font-size: 2.5vw
  color: white

.Navigation img
  margin-top: .5%

.Navigation .auth-button
  margin-top: 10%
  color: 
  background: #125999
  padding: 19px 25px


.Link
  padding: 15px

@media screen and (max-width: 500px) 
  .NavTitle
    width: 100%
    display: block
    text-align: center
    padding: 10px 0
    font-size: 6vw
    border-bottom: 1px solid gray

  .Navigation
    height: 95%
    width: 100%
    flex-direction: column
    margin: 0
    padding: 0

  .Link
    width: 100%
    display: block
    text-align: center
    padding: 10px 0
    font-size: 6vw
    border-bottom: 1px solid gray
    


