.name-box
    margin: 12%
.c-view
    display: flex
    flex-direction: column
    background: rgb(58,180,111)
    background: linear-gradient(119deg, rgba(58,180,111,1) 0%, rgba(160,220,245,1) 26%, rgba(146,204,212,1) 46%, rgba(69,104,252,1) 83%)