$primary-color-main: #009b9b
$primary-color-light: aqua
$primary-color-dark: #003636

.App
  margin: 0 auto
  display: flex
  flex-direction: column
  text-align: center
  overflow-x: hidden
  max-width: 100%
  

.Map_Holder
  justify-content: center
  padding: 10px

.App-header
  background-color: #282c34
  min-height: 100vh

.bg 
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-size: cover
  background-position: center
  will-change: opacity

form
  background-color: whitesmoke
  color: rgba(0, 0, 0, 0.54)
  padding: 40px 5px
  min-width: 400px
  border-radius: 10px
  margin-bottom: 20px
  input::placeholder,
  textarea::placeholder
    color: rgba(0, 0, 0, 0.44)
    text-transform: none
  input[type='text'],
  input[type='text-box'],
  input[type='integer'],
  textarea
    font-family: Lato
    padding: 15px 10px
    border: none
    box-sizing: content-box
    border-bottom: none
    background-color: transparent
    &:hover
      border-bottom: 1px solid aqua
    &:focus
      outline: none
      

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus
    -webkit-box-shadow: 0 0 0px 1000px whitesmoke inset
    transition: background-color 5000s ease-in-out 0s
  button
    display: block
    font-family: Lato
    font-size: 16px
    text-align: center
    padding: 11px 25px
    border-radius: 10px
    background-color: $primary-color-main
    color: white
    transition: all .3s

    &:hover
      filter: brightness(110%)
    &:active,
    &:focus
      outline: none

//SEARCH--------------------------------------------------------------------------------------------
* 
  box-sizing: border-box

.movies 
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: space-evenly

.App-header h2 
  margin: 0

.add-movies 
  text-align: center


.add-movies button 
  font-size: 16px
  padding: 8px
  margin: 0 10px 30px 10px


.movie 
  padding: 5px 25px 10px 25px
  max-width: 25%


.errorMessage 
  margin: auto
  font-weight: bold
  color: rgb(161, 15, 15)

.search 
  font-family: Lato
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  height: 6vh
  padding: 1px
  
input[type="submit"] 
  font-family: Work Sans
  background-color: transparent
  color: black
  border: 1px solid black
  width: 80px
  margin-left: 5px
  cursor: pointer
  //height: 6vh
  //padding: 1px


input[type="submit"]:hover 
  background-color: #282c34
  color: antiquewhite

.search > input[type="text"]
  font-family: Lato
  font-size: 18px
  width: 40%
  min-width: 170px
  height: 1vh
  align-self: center

