.App
  margin: 0 auto
  display: flex
  flex-direction: column
  text-align: center
  overflow-x: hidden
  max-width: 100%
  

.Map_Holder
  justify-content: center
  padding: 10px

.App-header
  background-color: #282c34
  min-height: 100vh

.bg 
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-size: cover
  background-position: center
  will-change: opacity